<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<!-- /////////////////////////////////////////////////////////// -->
<!-- // Project SIX: OVAL                                     // -->
<!-- //                                                       // -->
<!-- // TestNG Test Suite                                     // -->
<!-- /////////////////////////////////////////////////////////// -->

<!--
@author     Akihito Nakamura, AIST
@version    $Id: testng.xml 778 2010-05-11 06:26:16Z akihito $
-->

<suite name="six-oval" verbose="1" parallel="tests">

    <test name="oval.core" enabled="true">
        <groups>
            <run>
                <include name="oval-def:oval_definitions"/>
            </run>
        </groups>
    
        <classes>
            <class name="jp.go.aist.six.test.oval.core.OvalStoreTest"/>

            <!--
            <class name="jp.go.aist.six.test.oval.core.OvalStoreTest"/>
            <class name="jp.go.aist.six.test.oval.core.OvalXmlTest"/>
            -->
        </classes>
    </test>


    <test name="oval.service" enabled="false">
        <groups>
            <run>
                <include name="Definition"/>
            </run>
        </groups>
    <!--
    -->
    
        <classes>
            <class name="jp.go.aist.six.test.oval.service.OvalXmlMarshallingTest"/>

            <!--
            <class name="jp.go.aist.six.test.oval.service.OvalXml2StoreTest"/>
            <class name="jp.go.aist.six.test.oval.service.OvalStoreTest"/>
            <class name="jp.go.aist.six.test.oval.service.OvalXmlFragmentTest"/>
            <class name="jp.go.aist.six.test.oval.service.OvalXmlMarshallingTest"/>
            <class name="jp.go.aist.six.test.oval.service.OvalXmlTest"/>
            <class name="jp.go.aist.six.test.oval.service.OvalXmlAnalysis"/>
            -->
        </classes>
    </test>


    <test name="oval.process" enabled="false">
        <classes>
            <class name="jp.go.aist.six.test.oval.process.debian.DsaParserTest"/>

            <!--
            <class name="jp.go.aist.six.test.oval.process.debian.DebianOvalBuilderTest"/>
            <class name="jp.go.aist.six.test.oval.process.debian.DsaParserTest"/>
            <class name="jp.go.aist.six.test.oval.process.debian.DebianOvaldiProcessorTest"/>
            <class name="jp.go.aist.six.test.oval.process.debian.DebianOvalGeneratorTest"/>

            <class name="jp.go.aist.six.test.oval.process.centos.CentOSOvalGeneratorTest"/>
            <class name="jp.go.aist.six.test.oval.process.CentOSOvaldiProcessorTest"/>

            <class name="jp.go.aist.six.test.oval.process.NetOvalInterpreterTest"/>
            <class name="jp.go.aist.six.test.oval.OvaldiTest"/>
            <class name="jp.go.aist.six.test.oval.service.OvalXml2StoreTest"/>
            <class name="jp.go.aist.six.test.oval.service.OvalStoreTest"/>
            <class name="jp.go.aist.six.test.oval.service.OvalXmlFragmentTest"/>
            <class name="jp.go.aist.six.test.oval.service.OvalXmlMarshallingTest"/>
            <class name="jp.go.aist.six.test.oval.service.OvalXmlTest"/>
            <class name="jp.go.aist.six.test.oval.service.OvalXmlAnalysis"/>
            -->
        </classes>
    </test>



</suite>

<!-- vim:set tabstop=4:set expandtab:set shiftwidth=4: -->

