<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<!-- /////////////////////////////////////////////////////////// -->
<!-- // Project SIX: OVAL                                     // -->
<!-- //                                                       // -->
<!-- // TestNG Test Suite                                     // -->
<!-- /////////////////////////////////////////////////////////// -->

<!--
@author     Akihito Nakamura, AIST
@version    $Id$
-->

<suite name="six-oval" verbose="1" parallel="tests">

    <!-- ******************************************************* -->
    <!-- * oval.model                                          * -->
    <!-- ******************************************************* -->

    <test name="oval.model" enabled="false">
        <classes>
            <class name="jp.go.aist.six.test.oval.model.ComponentTests"/>
        </classes>
    </test>


    <!-- ******************************************************* -->
    <!-- *  interpreter                                        * -->
    <!-- ******************************************************* -->

    <test name="oval.interpreter" enabled="false">
        <groups>
            <run>
                <include name="oval.interpreter"/>
                <include name="oval.interpreter.networking"/>
            </run>
        </groups>
        <classes>
            <class name="jp.go.aist.six.test.oval.core.interpreter.OvalInterpreterTest"/>
        </classes>
    </test>



    <test name="oval.interpreter" enabled="false">
        <classes>
            <class name="jp.go.aist.six.test.oval.core.interpreter.OvalInterpreterTestContentTest"/>
        </classes>
    </test>



    <!-- ******************************************************* -->
    <!-- *  ws                                                 * -->
    <!-- ******************************************************* -->

    <test name="oval.core.ws" enabled="false">
<!--
        <groups>
            <run>
                <include name="oval.core.ws.query"/>
            </run>
        </groups>
-->

        <classes>
            <class name="jp.go.aist.six.test.oval.core.ws.AtomTest"/>
            <!--
            -->
        </classes>
    </test>



    <!-- ******************************************************* -->
    <!-- *  repository                                         * -->
    <!-- ******************************************************* -->

    <test name="oval.core.repository.mongodb" enabled="true">
        <!--
        <groups>
            <run>
                <include name="CONTROL.oval.repository.findDefinitionByQuery"/>
            </run>
        </groups>
        -->
                <!--
                <include name="CONTROL.oval.repository.saveOvalDefinitions"/>
                <include name="MODEL.oval.res.oval_results"/>
                <include name="MODEL.oval.sc.oval_system_characteristics"/>
                <include name="CONTROL.oval.repository.findDefinitionByQuery"/>
                <include name="CONTROL.oval.repository.saveOvalResults"/>
                <include name="CONTROL.oval.repository.saveOvalDefinitions"/>
                -->
        <classes>
            <class name="jp.go.aist.six.test.oval.core.repository.mongodb.MongoOvalDefinitionRepositoryTests"/>
            <!--
            <class name="jp.go.aist.six.test.oval.core.repository.mongodb.MongoOvalDefinitionRepositoryTests"/>
            <class name="jp.go.aist.six.test.oval.core.repository.mongodb.MongoOvalResultRepositoryTests"/>
            <class name="jp.go.aist.six.test.oval.core.DefinitionElementAssocTests"/>
            <class name="jp.go.aist.six.test.oval.core.MongoDefinitionRepositoryTests2"/>
            <class name="jp.go.aist.six.test.oval.core.repository.mongodb.MongoOvalResultRepositoryTests"/>
            -->
        </classes>
    </test>


    <test name="oval.core.repository.mongodb" enabled="false">
        <!--
        <groups>
            <run>
                <include name="CONTROL.oval.repository.saveOvalDefinitions"/>
            </run>
        </groups>
        -->
        <classes>
            <class name="jp.go.aist.six.test.oval.core.repository.mongodb.OvalDefinitionsGeneratorTests"/>
        </classes>
    </test>



    <test name="oval.core.repository.mongodb" enabled="false">
        <groups>
            <run>
                <include name="oval.res"/>
<!--
                <include name="oval.sc"/>
                <include name="oval.core.repository.mongodb"/>
-->
            </run>
        </groups>

        <classes>
            <class name="jp.go.aist.six.test.oval.core.repository.mongodb.MongoOvalDatastoreTests"/>
        </classes>
    </test>


    <test name="oval.core.repository.mongodb.performance" enabled="false">
        <groups>
            <run>
                <include name="oval.core.repository.mongodb.performance"/>
            </run>
        </groups>

        <classes>
            <class name="jp.go.aist.six.test.oval.core.repository.mongodb.MongoOvalDatastoreTests"/>
        </classes>
    </test>



    <!-- ******************************************************* -->
    <!-- *  XML                                                * -->
    <!-- ******************************************************* -->

    <test name="oval.core.xml" enabled="false">
        <!--
        <groups>
            <run>
                <include name="MODEL.oval.def.oval_definitionss"/>
            </run>
        </groups>
        -->
                <!--
                <include name="MODEL.oval.sc.oval_system_characteristics"/>
                <include name="xmlns:oval-def.*"/>
                <include name="oval.test-content"/>
                <include name="oval.results.oval_results"/>
                <include name="oval.definitions.oval_definitions"/>
                <include name="oval.results.oval_results"/>
                <include name="oval.core.xml.searchresult"/>
                <include name="oval.core.service"/>
                <include name="definitions.oval_definitions"/>
                <include name="sc.oval_sc"/>
                <include name="results.oval_results"/>
                -->

        <classes>
            <class name="jp.go.aist.six.test.oval.core.xml.OvalXmlMapperTests"/>
            <!--
            <class name="jp.go.aist.six.test.oval.core.xml.XsiNilTests"/>
            <class name="jp.go.aist.six.test.oval.core.xml.QueryResultsTests"/>
            <class name="jp.go.aist.six.test.oval.core.xml.OvalXmlMapperTests"/>
            <class name="jp.go.aist.six.test.oval.core.OvalIdTests"/>
            <class name="jp.go.aist.six.test.oval.core.xml.OvalTestContentXmlTest"/>
            <class name="jp.go.aist.six.test.oval.core.xml.OvalXmlTest"/>
            <class name="jp.go.aist.six.test.oval.core.xml.XmlTransformTest"/>
            -->
        </classes>
    </test>


    <test name="oval.core.xml.transform" enabled="false">
        <classes>
            <class name="jp.go.aist.six.test.oval.core.xml.XmlTransformTest"/>
        </classes>
    </test>

</suite>


