<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<!-- /////////////////////////////////////////////////////////// -->
<!-- // Project SIX: OVAL                                     // -->
<!-- //                                                       // -->
<!-- // TestNG Test Suite                                     // -->
<!-- /////////////////////////////////////////////////////////// -->

<!--
@author     Akihito Nakamura, AIST
@version    $Id$
-->

<suite name="six-oval" verbose="1" parallel="tests">

    <!-- ******************************************************* -->
    <!-- *  interpreter                                        * -->
    <!-- ******************************************************* -->

    <test name="oval.interpreter" enabled="true">
        <classes>
            <class name="jp.go.aist.six.test.oval.interpreter.OvalInterpreterTest"/>
        </classes>
    </test>



    <!-- ******************************************************* -->
    <!-- *  ws                                                 * -->
    <!-- ******************************************************* -->

    <test name="oval.core.ws" enabled="false">
        <groups>
            <run>
                <include name="oval.core.ws.query"/>
                <!--
                -->
            </run>
        </groups>

        <classes>
            <class name="jp.go.aist.six.test.oval.core.ws.OvalQueryResultTest"/>
            <!--
            <class name="jp.go.aist.six.test.oval.core.ws.AtomTest"/>
            -->
        </classes>
    </test>



    <!-- ******************************************************* -->
    <!-- *  repository                                         * -->
    <!-- ******************************************************* -->

    <test name="oval.core.repository.mongodb.query" enabled="false">
        <classes>
            <class name="jp.go.aist.six.test.oval.core.repository.mongodb.MorphiaQueryBuilderTest"/>
        </classes>
    </test>


    <test name="oval.core.repository.mongodb.dao" enabled="false">
        <groups>
            <run>
                <include name="oval.core.repository.mongodb.saveAndLoad"/>
                <!--
                <include name="oval.definitions.oval_definitions"/>
                <include name="oval.definitions.definition"/>
                <include name="oval.definitions.state"/>
                <include name="oval.definitions.variable"/>
                -->
            </run>
        </groups>

        <classes>
            <class name="jp.go.aist.six.test.oval.core.repository.mongodb.MongoOvalRepositoryTest"/>
        </classes>
    </test>



    <!-- ******************************************************* -->
    <!-- *  XML                                                * -->
    <!-- ******************************************************* -->

    <test name="oval.core.xml" enabled="false">
        <groups>
            <run>
                <include name="oval.results.oval_results"/>
                <!--
                <include name="oval.definitions.oval_definitions"/>
                <include name="oval.results.oval_results"/>
                <include name="oval.core.xml.searchresult"/>
                <include name="oval.core.service"/>
                <include name="definitions.oval_definitions"/>
                <include name="sc.oval_sc"/>
                <include name="results.oval_results"/>
                -->
            </run>
        </groups>

        <classes>
            <class name="jp.go.aist.six.test.oval.core.xml.OvalXmlTest"/>
        </classes>
    </test>

</suite>


